@charset "UTF-8";
body {
  background-color: var(--color-bg-hero);
  font-family: "DM sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding: 0 20px 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 16px 0 16px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

:root {
  --colol-primary: #D41443;
  --color-secondary: #FFFFFF;
  --color-bg-hero: #FFB8CA;
  --color-bg-circle: #FFA5BA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .header-container {
    justify-content: space-between;
  }
}

.navigate {
  padding: 8px 0 8px 0;
}
@media screen and (min-width: 1280px) {
  .navigate {
    display: flex;
    align-items: center;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: 128px;
}
@media screen and (max-width: 1279px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #FFFFFF;
}
.nav-menu-link:hover, .nav-menu-link:focus {
  color: #D41443;
}

@media screen and (max-width: 1279px) {
  .nav-menu-item {
    display: block;
    border-top: 1px solid #e18298;
    padding-top: 11px;
    padding-bottom: 12px;
  }
}

.nav-menu-text {
  color: #D41443;
}

.modal-btn {
  width: 160px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.286;
  color: #d41443;
  background-color: #fff;
  border: transparent;
  border-radius: 22px;
  outline: none;
}
@media screen and (min-width: 768px) {
  .modal-btn {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-btn {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .modal-btn {
    display: none;
  }
}

.menu-btn {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
@media screen and (min-width: 320px) {
  .menu-btn {
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn-close {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  top: 20px;
  right: 20px;
  background-color: transparent;
}

.mob-container {
  display: flex;
}

.menu-mob {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #E17992;
  width: 250px;
  height: 502px;
  padding-top: 60px;
  z-index: 1;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}
.menu-mob > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .menu-mob {
    width: 254px;
    height: 100%;
  }
}

.menu-modal-btn {
  display: block;
  width: 209px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.286;
  color: #d41443;
  background-color: #fff;
  border: transparent;
  border-radius: 22px;
  outline: none;
  margin-bottom: 32px;
}/*# sourceMappingURL=index.css.map */